@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@
@* 
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div> *@


<MudNavMenu>
   
    <MudDivider Class="my-2" />
    <MudNavLink Href="/">Dashboard</MudNavLink>
    <MudNavLink Href="/counter">Counter</MudNavLink>
   
    <MudNavGroup Title="Settings" Expanded="true">
        <MudNavLink Href="/userlist">Users</MudNavLink>
        <MudNavLink Href="/">Security</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/usersadmin">Users</MudNavLink>

    <MudNavGroup Title="Queing" Expanded="true">
        <MudNavLink Href="/qdash">Queing Dashboard</MudNavLink>
        <MudNavLink Href="/sendsignal">SignalR</MudNavLink>
        <MudNavLink Href="/qregister">Queing Register</MudNavLink>
        <MudNavLink Href="/qcounter">Queing Counter</MudNavLink>
    </MudNavGroup>

  
</MudNavMenu>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
